<!-- <div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        Trips
      </div>
    </div>
  </div>
</div> -->
<!-- <nav class="" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/batches">Batches</a></li>
    <li class="breadcrumb-item" aria-current="page">Shifts</li>
  </ol>
</nav> -->
<div class="col-md-12">
  <div class="card main-card mb-6">
  </div>
  </div>
  <div class="col-md-12">
    <div class="card main-card mb-6">
      <div class="card-header">
        Sites
      <div class="card-body" style="flex:none">
          <div class="search-wrapper" [class.active]="isActive">
              <div class="input-holder">
                <input type="text" placeholder="Type to search" [(ngModel)]="term" class="search-input">
                <button class="search-icon" (click)="isActive = true"><span></span></button>
              </div>
              <button class="close" (click)="isActive = false;term = null;"></button>
            </div>   
            
            
      </div>
       
      <!-- <div class="card-header-center">
        <div class="text-center">
            <div class="btn-group btn-group-toggle"  ngbRadioGroup [(ngModel)]="current">
              <label ngbButtonLabel class="btn-outline-primary btn-lg">
                <input ngbButton type="radio" value="all" (change)="ngOnInit()" >Today({{this.today | date:'yyyy-MM-dd'}})
              </label>
              <label ngbButtonLabel class="btn-outline-warning btn-lg">
                <input ngbButton type="radio" value="tom" (change)="tomorrow()">Tomorrow({{this.tom | date:'yyyy-MM-dd'}})
              </label>
              <label ngbButtonLabel class="btn-outline-success btn-lg">
                <input ngbButton type="radio" value="then" (change)="thenn()">{{this.then | date:'yyyy-MM-dd'}}
              </label>
            </div>
          </div>
        </div> -->
      <div  class="btn-actions-pane-right">
        <!-- <button class=" btn btn-outline-primary" (click)="createplan()"><span>Allocate</span></button>
        <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button> -->
      </div>
          </div>
          <div class="table-responsive">
           
      <table class="align-middle text-truncate mb-0 table table-borderless table-hover table-striped"> 
        <thead >
        <tr class="text-center">
          <!-- <th><mat-checkbox [(ngModel)]='checked' (change)="abc($event)" class="mr-3"></mat-checkbox></th> -->
          <!-- <th></th> -->
          <th scope="col">#</th>
          <th scope="col">SiteCode</th>
          <th scope="col">Orders Per Vehicle</th>
          <th scope="col">Maximum Hours Per Day</th>
          <th scope="col">Maximum Distance Per Vehicle(KMs)</th>
          <th scope="col">Actions</th>
          <!-- <th scope="col">Trip Distance</th>
          <th scope="col">Trip Time</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th> -->
          <!-- <th>mat-sort-header="updatedAt"</th> -->
          <!-- <th  scope="col">Updated</th> -->
        </tr>
        </thead>
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Data Available<br><img src="./../../../assets/images/Loader.gif"></td>
        </tr>  *ngFor ="let b of board$ | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" -->
      <!-- </tbody>  *ngFor = "let size of pageSizeOptions1" [value]="size" (change)="selectPageSize($event)" -->
      <!-- <tbody *ngIf="this.size == 0" class="text-center">
        <th>No Shifts Found</th>
      </tbody> -->
      <!-- <tbody *ngIf="this.size!= 0"> -->
      <!-- <tr class="text-center"  *ngFor ="let b of shifts | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" >
          <th><mat-checkbox [checked]='checked' class="mr-3" (change)="getdata($event,b.shiftId); false"></mat-checkbox></th>
          <th>{{(page1-1) * pageSize1  + i + 1}}</th>
          <td><button class=" btn btn-outline-primary"><span>{{b.driverName}}</span></button></td>
          <td><button class=" btn btn-outline-primary" >{{b.driverContactNumber}}</button></td>
          <td><button class=" btn btn-outline-primary" >{{b.shiftDateStr}}</button></td>
          <td><button class=" btn btn-outline-primary" >{{b.startTime.hours}}:{{b.startTime.minutes}}</button></td>
          <td><button class=" btn btn-outline-primary"  >{{b.endTime.hours}}:{{b.endTime.minutes}}</button></td>
          <td><button class=" btn btn-outline-primary" >{{b.vehicleRegistrationNumber}}</button></td>
          <td><button class=" btn btn-outline-primary" >{{b.vehicleType}}</button></td>
          <!-- <td><button class=" btn btn-outline-primary" >{{b.endTime.hours}}</button></td> -->
          <!-- <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">{{b.updatedAt | timeAgo}}</button></td> -
          </tr>     -->
          <tbody>
          <tr class="text-center">
            <th><button class=" btn btn-outline-primary border-0"><span>1</span></button></th>
            <!-- <th>1</th> -->
            <td><button class=" btn btn-outline-primary border-0"><span>HYSH01</span></button></td>
            <td><button class=" btn btn-transition btn btn-outline-primary border-0"><span>20</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>12</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>100</span></button></td>
            <td> <button class="btn btn-outline-danger border-0" style="margin-left: 10px;"><span class="fa fa-edit"></span></button></td>
          </tr>

          <tr class="text-center">
            <th><button class=" btn btn-outline-primary border-0"><span>2</span></button></th>
            <td><button class=" btn btn-outline-primary border-0"><span>HYBH</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>30</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>10</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>100</span></button></td>
            <td> <button class="btn btn-outline-danger border-0" style="margin-left: 10px;"><span class="fa fa-edit"></span></button></td>
          </tr>

          <tr class="text-center">
            <th><button class=" btn btn-outline-primary border-0"><span>3</span></button></th>
            <td><button class=" btn btn-outline-primary border-0"><span>HYBN</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>30</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>10</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>100</span></button></td>
            <td> <button class="btn btn-outline-danger border-0" style="margin-left: 10px;"><span class="fa fa-edit"></span></button></td>
          </tr>

          <tr class="text-center">
            <th><button class=" btn btn-outline-primary border-0"><span>4</span></button></th>
            <td><button class=" btn btn-outline-primary border-0"><span>HYBF</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>40</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>10</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>100</span></button></td>
            <td> <button class="btn btn-outline-danger border-0" style="margin-left: 10px;"><span class="fa fa-edit"></span></button></td>
          </tr>

          <tr class="text-center">
            <th><button class=" btn btn-outline-primary border-0"><span>5</span></button></th>
            <td><button class=" btn btn-outline-primary border-0"><span>HYBD</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>40</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>10</span></button></td>
            <td><button class=" btn btn-outline-primary border-0"><span>100</span></button></td>
            <td> <button class="btn btn-outline-danger border-0" style="margin-left: 10px;"><span class="fa fa-edit"></span></button></td>
          </tr>
      </tbody>
      </table>
    
    </div>
      <div class="d-block p-4 card-footer">
          <div class="d-flex w-100 justify-content-between">
        <!-- <ngb-pagination [(page)]="page1"
        [pageSize]="pageSize1"
        [collectionSize]="this.size">
      </ngb-pagination> -->
      <!-- <select class="custom-select" style="width: auto" name="pageSize1" (change)="selectPageSize($event)">
          <option *ngFor = "let size of pageSizeOptions1" [value]="size">{{size}}</option>
    </select> -->
    </div>
    </div>
    </div>
    </div>