<!-- <div class="header">
  <img height="40px" routerlink="/" src="./../assets/images/Dark Full.png" style="padding-left: 30px;" tabindex="0">
<!-- <div class="header-content">
  <div class="header-right">
    <a href="#"><div class="rounded-circle mr-2"><button type="button" class="btn btn-danger"><span class="fa fa-info"></span></button></div></a>
    <a href="#"><div class="rounded-circle mr-2"><button type="button" class="btn btn-danger">Signup as Driver</button></div></a>
    <a href="#"><div class="rounded-circle mr-2"><button type="button" class="btn btn-danger">Careers</button></div></a>
    <a href="#"><div class="rounded-circle mr-2"><button type="button" class="btn btn-danger"><span class="fa fa-phone"></span></button></div></a>
  </div>
</div> 
<!-- </div> -->
<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light shadow" style="background: white; z-index: 1; ">
  <a class="navbar-brand ml-4" routerLink="/" routerLinkActive="" style="font-size: 16px;font-weight: 500;" >Fleet Management<br><span class="text-muted">Powered By Whizzard</span></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <button class="navbar-toggler d-lg-none mr-4" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarText" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="!isCollapsed">
    <!-- <ul class="navbar-nav ml-auto text-center"> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active border-bottom border-danger" (click)="isCollapsed = !isCollapsed" [routerLinkActiveOptions]="{exact:true}"><div class="rounded-circle mr-2 mb-1">Team</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/careers" routerLinkActive="active border-bottom border-danger" (click)="isCollapsed = !isCollapsed"><div class="rounded-circle mr-2 mb-1">Careers</div></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/business-inquiry" routerLinkActive="active border-bottom border-danger" (click)="isCollapsed = !isCollapsed" ><div class="rounded-circle mr-2 mb-1">Business Inquiry</div></a>
      </li>
      
      <li class="nav-item" >
        <a class="nav-link" routerLink="/partner" routerLinkActive="active border-bottom border-danger" (click)="isCollapsed = !isCollapsed"><div class="rounded-circle mr-2 mb-1">Partner With Us</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.whizzard" (click)="isCollapsed = !isCollapsed" target="_blank" routerLinkActive="active border-bottom border-danger"><div class="rounded-circle mr-2 mb-1">Get the App</div></a>
      </li> -->

     
    <!-- </ul> -->
    <div class="col-md">
      <mat-form-field>
        <mat-label>Select a site</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="doSomething($event)">
          <!-- <mat-option>None</mat-option> -->
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let s of sites" [value]="s">{{s.name}},{{s.clientStationCode}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="dropdown ml-auto pr-3">
      <a class="btn  dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="" class="rounded-circle" src="./assets/images/avatars/1.jpg" width="42">
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</nav>