<div class="h-100  bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <!-- <div class="app-logo-inverse mx-auto mb-3"></div> -->
      <!-- <img src="assets/images/whizzard.png" width="175px" height="46px" class="mx-auto d-block"> -->
      <h3 class="text-center">Whizzard Fleet Management</h3>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <div class="modal-body">
            <form [formGroup]="loginform" (ngSubmit)="onSubmit()" id="form1">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Welcome back,</div>
                <span>Please sign in to your account below.</span></h4>
            </div>
            <div class="form-group">
              <input type="tel" class="form-control" minlength=10 maxlength=10  placeholder="Mobile Number" formControlName="phoneNumber"  [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"  >
              <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <!-- <div *ngIf="f.number.errors.required">Number is required</div> -->
                <!-- <div *ngIf="f.number.errors.pattern">Number must be a valid Number</div>
                <div *ngIf="f.number.errors.minlength">Number must be 10 digits</div> -->
            </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" minlength=6    placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                <!-- <div *ngIf="f.password.errors.minlength">Please Enter at least 6 characters</div> -->
            </div>
            </div>
            <div class="form-group ml-2  text-muted">
              <div class="row">
              <div class="col"><mat-checkbox>Remember Me</mat-checkbox></div>
              <div class="col"><a class="text-right">Forget Password/ Username</a></div>
            </div>
            </div>
            
            <div  class="text-center d-none mt-4 mb-2" id="error" style="font-size: 16px; color: red;"></div>
            <button  class="btn text-center text-white form-control" style="background-color: black;">Login</button>
          </form>
          </div>
            <!-- <div class="divider"></div> -->
            <!-- <h6 class="mb-0">
              No account?
              <a [routerLink]="" class="text-primary">Sign up now</a></h6></div> -->
              </div>
          <!-- <div class="modal-footer clearfix">
            <div class="float-left"><a [routerLink]="" class="btn-lg btn btn-link">Recover
              Password</a></div>
            <div class="float-right">
              <button type="button" class="btn btn-primary btn-lg">Login</button>
            </div>
          </div> -->
         
      </div>
      <!-- <div class="text-center text-white opacity-8 mt-3">
        Copyright © ArchitectUI 2019
      </div> -->
    </div>
  </div>
<!-- </div> -->
