<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        Orders
      </div>
    </div>
    <div class="col d-flex pt-3 pr-4 pl-5">
      <div class="text-center">
        <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="current">
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="all" (change)="all()">All Orders<sup>{{this.total}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="pending" (change)="status('AT_DC')">AT DC<sup>{{this.atdc}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="readytopickup" (change)="status('READY_FOR_PICKUP')">Ready To
            Pickup<sup>{{this.ready}}</sup>
          </label><label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="onroad" (change)="status('OUT_ON_ROAD')">Out On Road<sup>{{this.road}}</sup>
        </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="completed"
                   (change)="status('DELIVERED')">Delivered<sup>{{this.delivered}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="closed" (change)="status('CANCELLED')">Cancelled<sup>{{this.cancelled}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="rejected" (change)="status('REJECTED_BY_DA')">Rejected By DA<sup>{{this.decline}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="attempted" (change)="status('ATTEMPTED')">Attempted<sup>{{this.attempt}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="pariallyDelivered" (change)="status('PARTIALLY_DELIVERED')">Partially Delivered<sup>{{this.partial}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="rejectedByCustomer" (change)="status('REJECTED_BY_CUSTOMER')">Rejected By Customer<sup>{{this.customer}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="UnAssigned" (change)="status('UN_ASSIGNED')">UnAssigned<sup>{{this.unassigned}}</sup>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card-header-center">
  <div class="text-center">
    <div class="btn-group btn-group-toggle"  ngbRadioGroup [(ngModel)]="current">
      <label ngbButtonLabel class="btn-outline-primary btn-lg">
        <input ngbButton type="radio" value="all"  >All
      </label>
      <label ngbButtonLabel class="btn-outline-warning btn-lg">
        <input ngbButton type="radio" value="waiting" >Pending
      </label>
      <label ngbButtonLabel class="btn-outline-success btn-lg">
        <input ngbButton type="radio" value="completed" >Completed
      </label>
      <label ngbButtonLabel class="btn-outline-primary btn-lg">
        <input ngbButton type="radio" value="outfor" >Closed
      </label>
    </div>
  </div>
</div> -->

<div class="col-md-12">
  <div class="card main-card mb-6">
  </div>
</div>
<div class="col-md-12">
  <div class="card main-card mb-6">
    <div class="card-header">
      Orders
      <div class="card-body" style="flex:none">
        <div class="search-wrapper" [class.active]="isActive">
          <div class="input-holder">
            <input type="text" placeholder="Type to search" [(ngModel)]="term" class="search-input"
                   (keyup)="search(term)">
            <button class="search-icon" (click)="isActive = true"><span></span></button>
          </div>
          <button class="close" (click)="isActive = false; term = null; search(term)"></button>
        </div>
      </div>
      <div class="card-header-center">
        <div class="text-center">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="flightSchedule.date" (dateChange)="ngOnInit()">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
      <ng-select class=" ml-2" style="width: 25%; font-size: small; font-weight: normal;"  [clearable]="false" [(ngModel)]="flightSchedule.userId" (ngModelChange)="ngOnInit()">
        <ng-option value = ''>Select User</ng-option>
        <ng-option *ngFor="let user of userNamesListWithRole" [value]="user.id">{{user.fullName}}</ng-option>
     </ng-select>
     <button class="btn btn-outline-primary" style="margin-left: 4px;"
                (click)="reset()"><span>Reset Filter</span>
     </button>
      <div class="btn-actions-pane-right">
        <button class="btn btn-outline-primary" style="margin-left: 10px;"
                (click)="exportexcel()"><span>Export Excel</span>
        </button>
        <button class="btn btn-outline-primary" style="margin-left: 10px;" style="visibility:hidden;" id="batch"
                (click)="createbatch()"><span>Create Batch</span></button>
        <button class="btn btn-outline-primary" style="margin-left: 10px;"
                (click)="openSmall3(content3)"><span>Upload File</span></button>
        <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
      </div>
    </div>
    <div class="table-responsive">

      <table class="align-middle text-truncate mb-0 table table-borderless table-hover table-striped">
        <thead>
        <tr class="text-center" *ngIf="this.size != 0" >
          <th>
            <mat-checkbox  [(ngModel)]='checked' class="mr-3"
                          (change)="abc($event)"></mat-checkbox>
          </th>
          <!-- <th></th> -->
          <th scope="col">#</th>
          <th scope="col">Customer</th>
          <th scope="col">Order Id</th>
          <th scope="col">Client OrderID</th>
          <th scope="col">AWB Number</th>
          <th scope="col">Status</th>
          <th scope="col">Site Code</th>
          <th scope="col">Items Quantity</th>
          <th scope="col">Weight</th>
          <th scope="col">Volume</th>
          <th scope="col">Crates</th>
          <th scope="col">Order Total</th>
          <!-- <th scope="col">Actions</th> -->
          <!-- <th>mat-sort-header="updatedAt"</th> -->
          <!-- <th  scope="col">Updated</th> -->
          <th scope="col"> Slot</th>
          <th scope="col">Created On</th>
          <th scope ="col">Driver</th>
          <th scope="col">ETA</th>
          <th scope="col">Completed At</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
          <th scope="col">TrackLink</th>

        </tr>
        </thead>
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Data Available<br><img src="./../../../assets/images/Loader.gif"></td>
        </tr>  *ngFor ="let b of board$ | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" -->
        <!-- </tbody>  *ngFor = "let size of pageSizeOptions1" [value]="size" (change)="selectPageSize($event)" -->
        <tbody *ngIf="this.size == 0" class="text-center">
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Orders Available</td>
          </tr> -->
        <td class="text-center">No Orders Available</td>
        </tbody>
        <tbody *ngIf="this.size != 0">
        <tr class="text-center" *ngFor="let b of stores ; let i =index;">
          <th>
            <mat-checkbox  [checked]='checked' class="mr-3"
                          (change)="getdata($event, b); false" *ngIf="b.createdBatch == false"></mat-checkbox>
          </th>
          <th> {{(pagination.page-1) * pagination.size  + i + 1}}</th>
          <td>
            <button class=" btn btn-outline-primary border-0" >
              <span>{{b.customerName}} ({{b.customerPhoneNumber}})</span></button>
          </td>
          <td>
            <button class=" btn btn-outline-primary border-0" (click)="openSmall2(content2,b.id)">
              <span>{{b.orderId}}</span></button>
          </td>
          <td>
            <span *ngIf="b.clientOrderId !== null">{{b.clientOrderId}}<span *ngIf="b.wmsOrderId !== null" style="font-weight: bold;"> - {{b.wmsOrderId}}</span></span>
            <span *ngIf="b.clientOrderId === null"> - </span>
          </td>
          <td>
            <span *ngIf="b.awbNumber !== null && b.awbNumber !== 0">{{b.awbNumber}}</span>
            <span *ngIf="b.awbNumber === null || b.awbNumber === 0"> - </span>
          </td>
          <td>
            <button class=" btn border-0" *ngIf="b.status == 'AT_DC'" style="color: #000000 !important;"><b>{{b.status}}</b></button>
            <button class=" btn border-0" *ngIf="b.status == 'DELIVERED'" style="color: #36A84C !important;"><b>{{b.status}}</b></button>
            <button class=" btn border-0" *ngIf="b.status == 'PARTIALLY_DELIVERED'" style="color: #94FF66 !important;"><b>{{b.status}}</b>
            </button>
            <button class=" btn border-0" *ngIf="b.status == 'CANCELLED'" style="color: #FF0000 !important;"><b>{{b.status}}</b>
            </button>
            <button class=" btn" *ngIf="b.status == 'REJECTED'" style="color: #FF0000 !important;"><b>{{b.status}}</b></button>
            <button class=" btn border-0" *ngIf="b.status == 'READY_FOR_PICKUP'" style="color: #F3CC14!important;"><b>{{b.status}}</b></button>
            <button class=" btn border-0" *ngIf="b.status == 'OUT_ON_ROAD'" style="color: #1E90FF !important;"><b>{{b.status}}</b>
            </button>
            <button class=" btn border-0" *ngIf="b.status == 'ATTEMPTED'" style="color: #DB99FF !important;"><b>{{b.status}}
              <button class="btn btn-outline-primary" style="margin-left: 10px;"
                (click)="openCalendar(calendar,b.id)"><span>Reschedule</span></button>
            </b>
            </button>
            <button class=" btn border-0" *ngIf="b.status == 'REJECTED_BY_CUSTOMER'" style="color: #FF0000 !important;"><b>{{b.status}}</b>
            </button>
            <button class=" btn border-0" *ngIf="b.status == 'REJECTED_BY_DA'" style="color: #FF0000 !important;"><b>{{b.status}}</b>
            </button>
            <button class=" btn border-0" *ngIf="b.status == 'UN_ASSIGNED'" style="color: gray !important;"><b>{{b.status}}
              <button class="btn btn-outline-primary" style="margin-left: 10px;" (click)="gotoAllocate(b.id,flightSchedule.date,b.siteCode)"
                ><span>Allocate</span></button>
            </b>
            </button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.siteCode}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.itemQuantity}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.weight + ' KG'}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.volume}} CBM</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.crates}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.orderTotal}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.slot.startTime| date:"hh:mm a"}}
              -{{b.slot.endTime | date:'shortTime'}}</button>
            <!--            <button class="btn btn-outline-primary border-0"  *ngIf="b.expectedDeliverySlot == null">-</button></td>-->
          <td>
            <button class="btn btn-outline-primary border-0">{{b.createdDate}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0" *ngIf="b.driverName !== null">{{b.driverName}}</button>
            <button class="btn btn-outline-default border-0" *ngIf="b.driverName === null"  >-</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0" *ngIf="b.eta !== null ">{{b.eta| date:"hh:mm a"}}</button>
            <button class="btn btn-outline-default border-0" *ngIf="b.eta === null"  >-</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.completedAt| date:"hh:mm a"}}</button>
            <button class=" btn btn-outline-default" *ngIf="b.completedAt == null"  >-</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0" *ngIf='b.orderImageUrl == null'>-</button>
            <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-primary border-0" *ngIf='b.orderImageUrl != null'
                    (click)="openLarge(content1,b.orderImageUrl)"><i class="pe-7s-photo btn-icon-wrapper"> </i></button>
            <!-- <a href="file:///D:/git/maps.html?id={{b.id}}" target="_blank" style="margin-left: 10px;"><button class=" btn-icon btn-icon-only btn btn-primary" ><span class="fa fa-map"></span></button></a>
            <span *ngIf="b.status == 'pending'" class="badge badge-dot badge-dot-lg badge-warning badge-pulse"></span> -->
          </td>
          <td>
            <button class="btn btn-sm" *ngIf="b.createdBatch == false" (click)="editOrder(orderContent2, b)">
              Edit
            </button>
          </td>
          <td>
            <button class=" btn btn-outline-primary border-0" *ngIf="b.status != 'AT_DC'" (click)="goToLink (b.trackLink)">track</button>
            <button class=" btn btn-outline-primary border-0" *ngIf="b.status == 'AT_DC'" >-</button>
            <button class=" btn btn-outline-default" *ngIf="b.status != 'AT_DC'"  (click)="callicon(b.trackLink, b.id)" ngbTooltip="Share via Whatsapp"><i class="fa fa-whatsapp text-success"> </i></button>
            <button class=" btn btn-outline-default" *ngIf="b.status == 'AT_DC'"  >-</button>
          </td>
        </tr>
        </tbody>
      </table>


      <table class="align-middle text-truncate mb-0 table table-borderless table-hover table-striped" style="display: none;" id="exportexcel">
        <thead>
        <tr class="text-center" *ngIf="this.size != 0" >
          <!-- <th>
            <mat-checkbox  [(ngModel)]='checked' class="mr-3"
                          (change)="abc($event)"></mat-checkbox>
          </th> -->
          <!-- <th></th> -->
          <!-- <th scope="col">#</th> -->
          <th scope="col">Customer Name</th>
          <th scope="col">Customer PhoneNumber</th>
          <th scope="col">Order Id</th>
          <th scope="col">Client OrderID</th>
          <th scope="col">Status</th>
          <th scope="col">Site Code</th>
          <th scope="col">Items Quantity</th>
          <th scope="col">Weight</th>
          <th scope="col">Volume</th>
          <th scope="col">Crates</th>
          <th scope="col">Order Total</th>
          <!-- <th scope="col">Actions</th> -->
          <!-- <th>mat-sort-header="updatedAt"</th> -->
          <!-- <th  scope="col">Updated</th> -->
          <th scope="col"> Slot</th>
          <th scope="col">Created On</th>
          <th scope ="col">Driver Name</th>
          <th scope ="col">Driver Contact Number</th>
          <th scope="col">ETA</th>
          <th scope="col">Completed At</th>
          <!-- <th scope="col">Image</th>
          <th scope="col">Action</th> -->
          <!-- <th scope="col">TrackLink</th> -->

        </tr>
        </thead>
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Data Available<br><img src="./../../../assets/images/Loader.gif"></td>
        </tr>  *ngFor ="let b of board$ | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" -->
        <!-- </tbody>  *ngFor = "let size of pageSizeOptions1" [value]="size" (change)="selectPageSize($event)" -->
        <tbody *ngIf="this.size == 0" class="text-center">
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Orders Available</td>
          </tr> -->
        <td class="text-center">No Orders Available</td>
        </tbody>
        <tbody *ngIf="this.size != 0">
        <tr class="text-center" *ngFor="let b of stores ; let i =index;">
          <!-- <th>
            <mat-checkbox  [checked]='checked' class="mr-3"
                          (change)="getdata($event, b); false" *ngIf="b.createdBatch == false"></mat-checkbox>
          </th> -->
          <!-- <th> {{(pagination.page-1) * pagination.size  + i + 1}}</th> -->
          <td>
            <button class=" btn btn-outline-primary border-0" >
              <span>{{b.customerName}}</span></button>
          </td>
          <td>
            <button class=" btn btn-outline-primary border-0" >
              <span>{{b.customerPhoneNumber}}</span></button>
          </td>
          <td>
            <button class=" btn btn-outline-primary border-0">
              <span>{{b.orderId}}</span></button>
          </td>
          <td>
            <span>{{b.clientOrderId}}</span>
          </td>
          <td>
            <button class=" btn border-0"><b>{{b.status}}</b>
            </button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.siteCode}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.itemQuantity}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.weight + ' KG'}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.volume}} CBM</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.crates}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.orderTotal}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.slot.startTime| date:"hh:mm a"}}
              -{{b.slot.endTime | date:'shortTime'}}</button>
            <!--            <button class="btn btn-outline-primary border-0"  *ngIf="b.expectedDeliverySlot == null">-</button></td>-->
          <td>
            <button class="btn btn-outline-primary border-0">{{b.createdDate}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.driverName}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.driverNumber}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.eta| date:"hh:mm a"}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.completedAt| date:"hh:mm a"}}</button>
          </td>
          <!-- <td>
            <button class=" btn btn-outline-primary border-0" *ngIf="b.status != 'AT_DC'">{{b.trackLink}}</button>
            <button class=" btn btn-outline-primary border-0" *ngIf="b.status == 'AT_DC'" >-</button>
          </td> -->
        </tr>
        </tbody>
      </table>


      <ng-template #calendar let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Calendar</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row text-center">
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Previous
                </div>
                <div
                  class="btn btn-outline-secondary"
                  mwlCalendarToday
                  [(viewDate)]="viewDate"
                >
                  Today
                </div>
                <div
                  class="btn btn-primary"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Next
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <!-- <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div>
            </div> -->
          </div>
          <br />
          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day,date)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="CalendarView.Week"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="CalendarView.Day"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-day-view>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </ng-template>


      <ng-template #date let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Select Time</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Start Time</label>
          <ngb-timepicker [(ngModel)]="starttime" [meridian]="meridian"></ngb-timepicker>
          <br>
          <label>End Time</label>
          <ngb-timepicker [(ngModel)]="endtime" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveDate()">Save changes</button>
        </div>
      </ng-template>

      <ng-template #content1 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Image</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{this.url}}" alt="Image" style="width: 100%; max-height: 100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </ng-template>

      <ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Orders Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body p-0">
          <div *ngFor="let do of details;">
            <h6 class="m-2">{{do.orderId}} ({{do.status}})</h6>
            <div class="table-responsive" *ngFor="let data of details3;">
              <table class="table table-hover dataTable text-center" style="width: 100%">
                <tr class="text-center" >
                  <th>Name</th>
                  <td>{{data.firstname}}</td>


                </tr>
                <tr >
                  <th>Contact Number</th>
                  <td>{{data.telephone}}</td>

                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{data.streetAddress}},{{data.city}}-{{data.postcode}}</td>
                </tr>
              </table>
            </div>
            <hr>
            <div class="table-responsive">
              <table class="table table-hover dataTable text-center" style="width: 100%">
                <tr>
                  <th>No.</th>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Rejected Count</th>
                  <th>Delivered Count</th>
                  <th>price</th>
                  <th>status</th>
                </tr>
                <tr *ngFor="let o of details2; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{o.name}}</td>
                  <td>{{o.itemQuantity}}</td>
                  <td>{{o.rejectedQuantity}}</td>
                  <td>{{o.deliveredQuantity}}</td>
                  <td>{{o.price}}</td>
                  <td>{{o.status}}</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td>{{do.itemQuantity}}</td>
                  <td></td>
                  <td></td>
                  <td>{{do.orderTotal}}</td>
                  <td></td>
                </tr>
              </table>
            </div>
            <hr>
            <div class="table-responsive">
              <table class="table table-hover dataTable text-center" style="width: 100%">
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Action</th>
                  <th>Location</th>
                  <th>Date</th>
                </tr>
                <tr *ngFor="let orderhistory of details4; let i = index;">
                  <td>{{i + 1}}</td>
                  <td style="width:20%">{{orderhistory.name}}</td>
                  <td style="width:20%">{{orderhistory.activityAtLocation}}</td>
                  <td *ngIf="orderhistory.location === null">-</td>
                  <td  *ngIf= "orderhistory.location != null && (orderhistory.location.latitude === 0 || orderhistory.location.longitude === 0) ">{{orderhistory.location.display_name}}</td>
                  <td *ngIf ="orderhistory.location != null && (orderhistory.location.latitude != 0 && orderhistory.location.longitude != 0)" ><a href="http://maps.google.com/?q={{orderhistory.location.latitude}},{{orderhistory.location.longitude}}" target="_blank">{{orderhistory.location.display_name}}</a></td>
                  <td style="width:20%">{{orderhistory.createdAt | date:'medium'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
<!--        <div class="card-body" *ngFor="let o of details;">-->
<!--          <div *ngFor="let od of details2;">-->
<!--            <p>-->
<!--              <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">-->
<!--                <mat-label>Name</mat-label>-->
<!--                <input type="text" [(ngModel)]="od.name" matInput disabled style="color: black;">-->
<!--                <mat-icon matSuffix>info</mat-icon>-->
<!--              </mat-form-field>-->
<!--            </p>-->
<!--            &lt;!&ndash; <p>-->
<!--              <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">-->
<!--                  <mat-label>Order Price</mat-label>-->
<!--                  <input type="text" [(ngModel)]="od.orderTotal" matInput  disabled style="color: black;">-->
<!--                  <mat-icon matSuffix>info</mat-icon>-->
<!--                </mat-form-field>-->
<!--          </p> &ndash;&gt;-->
<!--          </div>-->
<!--          <p>-->
<!--            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">-->
<!--              <mat-label> Order Id</mat-label>-->
<!--              <input [(ngModel)]="o.orderId" type="text" matInput disabled style="color: black;">-->
<!--              <mat-icon matSuffix>info</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </p>-->
<!--          <p>-->
<!--            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">-->
<!--              <mat-label>Status</mat-label>-->
<!--              <input [(ngModel)]="o.status" type="text" matInput disabled style="color: black;">-->
<!--              <mat-icon matSuffix>info</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </p>-->
<!--          <p>-->
<!--            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">-->
<!--              <mat-label>Item Quantity</mat-label>-->
<!--              <input [(ngModel)]="o.itemQuantity" type="text" matInput disabled style="color: black;">-->
<!--              <mat-icon matSuffix>info</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </p>-->
<!--          <p>-->
<!--            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">-->
<!--              <mat-label>Order Total</mat-label>-->
<!--              <input type="text" [(ngModel)]="o.orderTotal" matInput disabled style="color: black;">-->
<!--              <mat-icon matSuffix>info</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </p>-->


<!--        </div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>


      <ng-template #content3 let-c="close" let-d="dismiss">
        <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">File Upload</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <!-- <div class="col-sm-12">
                    <div>
                        <h6 class="head-title margin-top-8"><span>UPLOAD</span></h6>
                    </div>
                </div> -->

                <div class="col-sm text-center">

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="myfile"
                            (change)="onFileSelect($event)" #UploadFileInput>
                        <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                    </div>

                </div>
              </div>
                <!-- <div class="row">
                <div class="col-sm text-center">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </div> -->

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Upload</button>
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </form>
      </ng-template>

    </div>
    <div class="d-block p-4 card-footer">
      <div class="d-flex w-100 justify-content-between">
        <ngb-pagination *ngIf="size" [(page)]="pagination.page"
        [pageSize]="pagination.size"
        [collectionSize]="size"
        [boundaryLinks]="true"
        [maxSize]="5"
       (pageChange)="changePage($event)">
        </ngb-pagination>
        <div class="btn-actions-pane-right" *ngIf="size" >
          <button *ngFor="let size of pagination.pageSizes" class="btn btn-outline-primary" (click)="handlePageSizeChange(size)">{{size}}</button>
          <!-- <button class="btn btn-outline-primary" (click)="selectPageSize(500)">500</button>
          <button class="btn btn-outline-primary" (click)="selectPageSize(1000)">1000</button> -->
        </div>
        <!-- <select class="custom-select" style="width: auto" name="pageSize1" (change)="selectPageSize($event)">
            <option *ngFor = "let size of pageSizeOptions1" [value]="size">{{size}}</option>
      </select> -->
      </div>
    </div>
  </div>
</div>


<ng-template #orderContent2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Order Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeOrderUpdates()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <label>Quantity</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.itemQuantity"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Weight</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.weight"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Volume</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.volume"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Crates</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.crates"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateOrderData(term, true)">Update</button>
    <button type="button" class="btn btn-secondary" (click)="closeOrderUpdates(term)">Close</button>
  </div>
</ng-template>
