<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        Orders
      </div>
    </div>
    <div class="col d-flex pt-3 pr-4 pl-5">
      <div class="text-center">
        <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="current">
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="all" (change)="all()">All Orders<sup>{{this.total}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="pending" (change)="pending()">AT DC<sup>{{this.processing}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="readytopickup" (change)="pickup()">Ready To
            Pickup<sup>{{this.ready}}</sup>
          </label><label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="onroad" (change)="onroad()">Out On Road<sup>{{this.road}}</sup>
        </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="completed"
                   (change)="completed()">Delivered<sup>{{this.delivered}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="closed" (change)="closed()">Cancelled<sup>{{this.cancelled}}</sup>
          </label>
          <label ngbButtonLabel class="btn">
            <input ngbButton type="radio" value="rejected" (change)="rejected()">Rejected<sup>{{this.decline}}</sup>
          </label>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card-header-center">
  <div class="text-center">
    <div class="btn-group btn-group-toggle"  ngbRadioGroup [(ngModel)]="current">
      <label ngbButtonLabel class="btn-outline-primary btn-lg">
        <input ngbButton type="radio" value="all"  >All
      </label>
      <label ngbButtonLabel class="btn-outline-warning btn-lg">
        <input ngbButton type="radio" value="waiting" >Pending
      </label>
      <label ngbButtonLabel class="btn-outline-success btn-lg">
        <input ngbButton type="radio" value="completed" >Completed
      </label>
      <label ngbButtonLabel class="btn-outline-primary btn-lg">
        <input ngbButton type="radio" value="outfor" >Closed
      </label>
    </div>
  </div>
</div> -->

<div class="col-md-12">
  <div class="card main-card mb-6">
  </div>
</div>
<div class="col-md-12">
  <div class="card main-card mb-6">
    <div class="card-header">
      Orders
      <div class="card-body" style="flex:none">
        <div class="search-wrapper" [class.active]="isActive">
          <div class="input-holder">
            <input type="text" placeholder="Type to search" [(ngModel)]="term" class="search-input"
                   (keyup)="search(term)">
            <button class="search-icon" (click)="isActive = true"><span></span></button>
          </div>
          <button class="close" (click)="isActive = false; term = null; search(term)"></button>
        </div>
      </div>
      <div class="card-header-center">
        <div class="text-center">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="flightSchedule.date" (dateChange)="ngOnInit()">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="btn-actions-pane-right">
        <button class="btn btn-outline-primary" id="batch" style="margin-left: 10px; visibility:hidden;"
                (click)="createbatch()"><span>Create Batch</span></button>
        <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
      </div>
    </div>
    <div class="table-responsive">

      <table class="align-middle text-truncate mb-0 table table-borderless table-hover table-striped">
        <thead>
        <tr class="text-center">
          <th>
            <mat-checkbox *ngIf="checkbox == 1" [(ngModel)]='checked' class="mr-3"
                          (change)="abc($event)"></mat-checkbox>
          </th>
          <!-- <th></th> -->
          <th scope="col">#</th>
          <th scope="col">Order Id</th>
          <th scope="col">Status</th>
          <th scope="col">Site Code</th>
          <th scope="col">Items Quantity</th>
          <th scope="col">Weight</th>
          <th scope="col">Volume</th>
          <th scope="col">Crates</th>
          <th scope="col">Order Total</th>
          <!-- <th scope="col">Actions</th> -->
          <!-- <th>mat-sort-header="updatedAt"</th> -->
          <!-- <th  scope="col">Updated</th> -->
          <th scope="col"> Slot</th>
          <th scope="col">Created On</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Data Available<br><img src="./../../../assets/images/Loader.gif"></td>
        </tr>  *ngFor ="let b of board$ | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" -->
        <!-- </tbody>  *ngFor = "let size of pageSizeOptions1" [value]="size" (change)="selectPageSize($event)" -->
        <tbody *ngIf="this.size == '0'" class="text-center">
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Orders Available</td>
          </tr> -->
        No Orders Available
        </tbody>
        <tbody *ngIf="this.size != '0'">
        <tr class="text-center"
            *ngFor="let b of stores  | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;">
          <th>
            <mat-checkbox [checked]='checked' class="mr-3"
                          (change)="getdata($event,b.orderId,b.siteCode); false"></mat-checkbox>
          </th>
          <th>{{(page1 - 1) * pageSize1 + i + 1}}</th>
          <td>
            <button class=" btn btn-outline-primary border-0" (click)="openSmall2(content2,b.id)">
              <span>{{b.orderId}}</span></button>
          </td>
          <td>
            <button class=" btn btn-outline-dark border-0" *ngIf="b.status == 'AT_DC'"><b>{{b.status}}</b></button>
            <button class=" btn btn-outline-success border-0" *ngIf="b.status == 'DELIVERED'"><b>{{b.status}}</b>
            </button>
            <button class=" btn btn-outline-danger border-0" *ngIf="b.status == 'CANCELLED'"><b>{{b.status}}</b>
            </button>
            <button class=" btn btn-outline-danger" *ngIf="b.status == 'REJECTED'"><b>{{b.status}}</b></button>
            <button class=" btn btn-outline-warning border-0" *ngIf="b.status == 'READY_FOR_PICKUP'"><b>{{b.status}}</b>
            </button>
            <button class=" btn btn-outline-primary border-0" *ngIf="b.status == 'OUT_ON_ROAD'"><b>{{b.status}}</b>
            </button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.siteCode}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.itemQuantity}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.weight + ' KG'}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.volume}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.crates}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.orderTotal}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0">{{b.slot.startTime| date:'shortTime'}}
              -{{b.slot.endTime | date:'shortTime'}}</button>
            <!--            <button class="btn btn-outline-primary border-0"  *ngIf="b.expectedDeliverySlot == null">-</button></td>-->
          <td>
            <button class="btn btn-outline-primary border-0">{{b.createdDate}}</button>
          </td>
          <td>
            <button class="btn btn-outline-primary border-0" *ngIf='b.orderImageUrl == null'>-</button>
            <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-primary border-0" *ngIf='b.orderImageUrl != null'
                    (click)="openLarge(content1,b.orderImageUrl)"><i class="pe-7s-photo btn-icon-wrapper"> </i></button>
            <!-- <a href="file:///D:/git/maps.html?id={{b.id}}" target="_blank" style="margin-left: 10px;"><button class=" btn-icon btn-icon-only btn btn-primary" ><span class="fa fa-map"></span></button></a>
            <span *ngIf="b.status == 'pending'" class="badge badge-dot badge-dot-lg badge-warning badge-pulse"></span> -->
          </td>
          <td>
            <button class="btn btn-sm" (click)="editOrder(orderContent2, b)">
              Edit
            </button>
          </td>
        </tr>
        </tbody>
      </table>


      <ng-template #content1 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Image</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{this.url}}" alt="Image" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </ng-template>

      <ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Orders Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body" *ngFor="let o of details;">
          <div *ngFor="let od of details2;">
            <p>
              <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">
                <mat-label>Name</mat-label>
                <input type="text" [(ngModel)]="od.name" matInput disabled style="color: black;">
                <mat-icon matSuffix>info</mat-icon>
              </mat-form-field>
            </p>
            <!-- <p>
              <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">
                  <mat-label>Order Price</mat-label>
                  <input type="text" [(ngModel)]="od.orderTotal" matInput  disabled style="color: black;">
                  <mat-icon matSuffix>info</mat-icon>
                </mat-form-field>
          </p> -->
          </div>
          <p>
            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">
              <mat-label> Order Id</mat-label>
              <input [(ngModel)]="o.orderId" type="text" matInput disabled style="color: black;">
              <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">
              <mat-label>Status</mat-label>
              <input [(ngModel)]="o.status" type="text" matInput disabled style="color: black;">
              <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">
              <mat-label>Item Quantity</mat-label>
              <input [(ngModel)]="o.itemQuantity" type="text" matInput disabled style="color: black;">
              <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy" style="width:258px; padding: 4px;">
              <mat-label>Order Total</mat-label>
              <input type="text" [(ngModel)]="o.orderTotal" matInput disabled style="color: black;">
              <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
          </p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>

    </div>
    <div class="d-block p-4 card-footer">
      <div class="d-flex w-100 justify-content-between">
        <ngb-pagination [(page)]="page1"
                        [pageSize]="pageSize1"
                        [collectionSize]="this.size">
        </ngb-pagination>
        <div class="btn-actions-pane-right">
          <button class="btn btn-outline-primary" (click)="selectPageSize(200)">200</button>
          <button class="btn btn-outline-primary" (click)="selectPageSize(500)">500</button>
          <button class="btn btn-outline-primary" (click)="selectPageSize(1000)">1000</button>
        </div>
        <!-- <select class="custom-select" style="width: auto" name="pageSize1" (change)="selectPageSize($event)">
            <option *ngFor = "let size of pageSizeOptions1" [value]="size">{{size}}</option>
      </select> -->
      </div>
    </div>
  </div>
</div>


<ng-template #orderContent2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Order Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeOrderUpdates()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <label>Quantity</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.itemQuantity"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Weight</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.weight"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Volume</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.volume"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Crates</label>
        <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="order.crates"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateOrderData(term, true)">Update</button>
    <button type="button" class="btn btn-secondary" (click)="closeOrderUpdates(term)">Close</button>
  </div>
</ng-template>
