<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <!-- <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div> -->
      <div>
        Dashboard

        <!-- <div
          class="page-title-subheading">
          This is an example dashboard created for <b>MORE</b> retail.
        </div> -->
      </div>
      
    </div>
    <!-- <div class="row mr-0"> -->
      <div class="col justify-content-end d-flex pt-3 pb-2 pr-4">
        <mat-checkbox [checked]='checked' class="mr-3">Van</mat-checkbox>
        <mat-checkbox [checked]='checked' class="mr-3">Auto</mat-checkbox>
        <mat-checkbox [checked]='checked' class="mr-3">Bike</mat-checkbox>
      </div>
    <!-- </div> -->
   
    <!-- <div class="page-title-actions">
      <button type="button" class="btn-shadow mr-3 btn btn-dark">
        <fa name="star"></fa>
      </button>
      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success">
        <fa class="mr-2" name="plus"></fa>
        Create New
      </button>
    </div> -->
  </div>
</div>

<!-- <div class="container mb-4">
  <h3>Welcome Ankit,</h3><br>
  <div class="row">
    <h3 class="col-md-3">Summary for </h3>
    <div class="col-md-3">
      <p>
        <mat-form-field>
          <mat-label>Select Date</mat-label>
          <input matInput [matDatepicker]="dp3" [value]="date.value" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </p>
    </div>
    <!-- <div class="col-md-1"></div> 
    <h3 class="col-md-1">for </h3>
    <div class="col-md-3">
      <mat-form-field>
        <mat-label>Select a site</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="doSomething($event)">
          <!-- <mat-option>None</mat-option> 
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let s of sites" [value]="s">{{s.name}},{{s.clientStationCode}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div> -->

<!-- <p>
  <mat-form-field>
    <mat-label>Input disabled</mat-label>
    <input matInput [matDatepicker]="dp2" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
  </mat-form-field>
</p> -->

<!-- <div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Total Orders</div>
            <div class="widget-subheading">Last year expenses</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-success">1896</div>
          </div>
        </div>
        <div class="widget-progress-wrapper">
          <div class="progress-bar-sm progress">
            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="71" aria-valuemin="0"
                 aria-valuemax="100" style="width: 71%;"></div>
          </div>
          <div class="progress-sub-label">
            <div class="sub-label-left">YoY Growth</div>
            <div class="sub-label-right">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Products Sold</div>
            <div class="widget-subheading">Revenue streams</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-warning">$3M</div>
          </div>
        </div>
        <div class="widget-progress-wrapper">
          <div class="progress-bar-sm progress-bar-animated-alt progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                 aria-valuemax="100" style="width: 85%;"></div>
          </div>
          <div class="progress-sub-label">
            <div class="sub-label-left">Sales</div>
            <div class="sub-label-right">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content">
      <div class="widget-content-outer">
        <div class="widget-content-wrapper">
          <div class="widget-content-left">
            <div class="widget-heading">Followers</div>
            <div class="widget-subheading">People Interested</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-danger">45,9%</div>
          </div>
        </div>
        <div class="widget-progress-wrapper">
          <div class="progress-bar-sm progress-bar-animated-alt progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="46" aria-valuemin="0"
                 aria-valuemax="100" style="width: 46%;"></div>
          </div>
          <div class="progress-sub-label">
            <div class="sub-label-left">Twitter Progress</div>
            <div class="sub-label-right">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="col-md-12">
  <div class="card main-card mb-6">
  </div>
  </div> -->
  <!-- <div class="col-md-12" *ngIf="this.size !=0">
    <div class="card main-card mb-6">
      <div class="card-header">
        Orders
      <div class="card-body">
          <div class="search-wrapper" [class.active]="isActive">
              <div class="input-holder">
                <input type="text" placeholder="Type to search" [(ngModel)]="term" class="search-input">
                <button class="search-icon" (click)="isActive = true"><span></span></button>
              </div>
              <button class="close" (click)="isActive = false"></button>
            </div>              
      </div>
      <div  class="btn-actions-pane-right">
        <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
      </div>
          </div>
          <div class="table-responsive">
           
      <table  class="align-middle text-truncate mb-0 table table-borderless table-hover table-striped"> 
        <thead>
        <tr  class="text-center">
          <th scope="col">#</th>
          <th scope="col">Order Id</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
          <th scope="col">Updated</th>
        </tr>
        </thead>
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Data Available<br><img src="./../../../assets/images/Loader.gif"></td>
        </tr>  *ngFor ="let b of board$ | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" -->
      <!-- </tbody>  *ngFor = "let size of pageSizeOptions1" [value]="size" (change)="selectPageSize($event)" 
      <tbody>
      <tr  class="text-center" *ngFor ="let b of stores | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" >
          <th class="text-center">{{(page1-1) * pageSize1  + i + 1}}</th>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>{{b.orderId}}</span></button></td>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;">{{b.status}}<span *ngIf="b.status == 'pending'" class="badge badge-dot badge-dot-lg badge-danger badge-pulse"></span></button></td>
          <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-bolt"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-truck"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-ellipsis-v"></span></button>
          </td>
          <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">{{b.updatedAt | timeAgo:live}}</button></td>
          </tr>    
          <!-- <tr  class="text-center" >
            <th class="text-center">2</th>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>6200000161</span></button></td>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>Waiting For Pickup</span></button></td>
            <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            </td>
            <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">25 mins ago</button></td>
            </tr>  
        <tr  class="text-center" >
          <th class="text-center">3</th>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>62000000123</span></button></td>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;">Out For Delivery<span class="badge badge-dot badge-dot-lg badge-danger badge-pulse"></span></button></td>
          <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
          </td>
          <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">5 mins ago</button></td>
          </tr>    
          <tr  class="text-center" >
            <th class="text-center">4</th>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>6200000161</span></button></td>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>Waiting For Pickup</span></button></td>
            <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            </td>
            <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">25 mins ago</button></td>
            </tr> 
            <tr  class="text-center" >
          <th class="text-center">5</th>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>62000000123</span></button></td>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;">Out For Delivery<span class="badge badge-dot badge-dot-lg badge-danger badge-pulse"></span></button></td>
          <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
          </td>
          <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">5 mins ago</button></td>
          </tr>    
          <tr  class="text-center" >
            <th class="text-center">6</th>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>6200000161</span></button></td>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>Waiting For Pickup</span></button></td>
            <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            </td>
            <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">25 mins ago</button></td>
            </tr> 
            <tr  class="text-center" >
          <th class="text-center">7</th>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>62000000123</span></button></td>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;">Out For Delivery<span class="badge badge-dot badge-dot-lg badge-danger badge-pulse"></span></button></td>
          <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
          </td>
          <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">5 mins ago</button></td>
          </tr>    
          <tr  class="text-center" >
            <th class="text-center">8</th>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>6200000161</span></button></td>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>Waiting For Pickup</span></button></td>
            <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            </td>
            <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">25 mins ago</button></td>
            </tr> 
            <tr  class="text-center" >
          <th class="text-center">9</th>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>62000000123</span></button></td>
          <td><button class=" btn btn-outline-primary" style="margin-left: 10px;">Out For Delivery<span class="badge badge-dot badge-dot-lg badge-danger badge-pulse"></span></button></td>
          <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
          </td>
          <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">5 mins ago</button></td>
          </tr>    
          <tr  class="text-center" >
            <th class="text-center">10</th>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>6200000161</span></button></td>
            <td><button class=" btn btn-outline-primary" style="margin-left: 10px;"><span>Waiting For Pickup</span></button></td>
            <td> <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
              <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button>
            </td>
            <td><button class="mb-2 mr-2 btn-pill btn btn-outline-light active">25 mins ago</button></td>
            </tr>   
      </tbody>
      </table>
    
    </div>
      <div class="d-block p-4 card-footer">
          <div class="d-flex w-100 justify-content-between">
        <ngb-pagination [(page)]="page1"
        [pageSize]="pageSize1"
        [collectionSize]="this.size">
      </ngb-pagination>
      <select class="custom-select" style="width: auto" name="pageSize1" (change)="selectPageSize($event)">
          <option *ngFor = "let size of pageSizeOptions1" [value]="size">{{size}}</option>
    </select>
    </div>
    </div>
    </div>
    </div> -->
  <!-- </div> 

    <br>
    <!-- <div class="row"> -->
      
        <!-- <div class=" row">
          <div class="col-md-6 col-xl-6">
            <div class="main-card mb-3 card">
            <div class="widget-content">
              <div class="widget-content-wrapper">
                <div class="widget-content-right ml-0 mr-3">
                  <div class="widget-numbers text-success">1896</div>
                </div>
                <div class="widget-content-left">
                  <div class="widget-heading">Total Orders</div>
                  <div class="widget-subheading">Last year expenses</div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-6 col-xl-6">
            <div class="main-card mb-3 card">
            <div class="widget-content">
              <div class="widget-content-wrapper">
                <div class="widget-content-right ml-0 mr-3">
                  <div class="widget-numbers text-warning">$ 14M</div>
                </div>
                <div class="widget-content-left">
                  <div class="widget-heading">Products Sold</div>
                  <div class="widget-subheading">Total revenue streams</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div> -->
    <!-- </div> 
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card-border mb-3 card card-body border-primary">
      <div class="row">
        <h5 class="card-title col-md-4"><i class="fa fa-phone fa-4x"></i></h5>
        <div class="col-md-8"><h5 class="card-title">9660067000</h5>
        <h5 class="card-title">DARSHAN RAM</h5></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card-border mb-3 card card-body border-primary">
      <div class="row">
        <h5 class="card-title col-md-4"><i class="fa fa-phone fa-4x"></i></h5>
        <div class="col-md-8"><h5 class="card-title">8756076500</h5>
        <h5 class="card-title">Rajasekhar</h5></div>
      </div>
    </div>
  </div>
  </div>   

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Value</th>
        <th scope="col">Key</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let d of data$;let i =index;" >
        <td>{{i+1}}</td>
        <td>{{d.value}}</td>
        <td>@{{d.key}}</td>
      </tr>
    </tbody>
  <!-- </table> -->



  <!-- <section class="main">
    <div class="row mr-2 mb-2">
  
    <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> --
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> --
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> --
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  </div>
  
  <div class="row mr-2">
  
    <div class="col-md-4" >
      <div class="card shadow mb-3">
        <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
        <div class="card-body text-primary" style="background-color: #f1f1f1;">
          <!-- <h5 class="card-title">Primary card title</h5> --
          <p class="card-text"></p>
        </div>
      </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> --
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> --
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  </div>
    </section> -->

    <div class="card-header-center">
      <div class="text-center">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker3" [(ngModel)]="flightSchedule.date" (dateChange)="ngOnInit()">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    </div>
    </div>
  <div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-asteroid">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Cash To Be Collected</div>
          <!-- <div class="widget-subheading">Last year expenses</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.cashtobe" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-malibu-beach">
      <div class="widget-content-wrapper text-dark ">
        <div class="widget-content-left">
          <div class="widget-numbers">Cash Deposited</div>
          <!-- <div class="widget-subheading">Total Clients Profit</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-dark"><span [countUp]="this.cashdepo" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-happy-green">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Balance</div>
          <!-- <div class="widget-subheading">People Interested</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.balance" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-block col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-deep-blue">
      <div class="widget-content-wrapper text-dark">
        <div class="widget-content-left">
          <div class="widget-numbers">Cash Collected</div>
          <!-- <div class="widget-subheading">Revenue streams</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-dark"><span [countUp]="this.cashcol" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-block col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-danger">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Cash For Cancelled Orders</div>
          <!-- <div class="widget-subheading">Revenue streams</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.cashcan" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-block col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-sunny-morning">
      <div class="widget-content-wrapper text-dark">
        <div class="widget-content-left">
          <div class="widget-numbers">Total</div>
          <!-- <div class="widget-subheading">Revenue streams</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-dark"><span [countUp]="this.total" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-block col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-night-sky">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Out For Delivery</div>
          <!-- <div class="widget-subheading">Revenue streams</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.outfordelivery" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-block col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-strong-bliss">
      <div class="widget-content-wrapper text-dark">
        <div class="widget-content-left">
          <div class="widget-numbers">Rejected</div>
          <!-- <div class="widget-subheading">Revenue streams</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-dark"><span [countUp]="this.rejected" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-block col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-grow-early">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Pending</div>
          <!-- <div class="widget-subheading">Revenue streams</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.pending" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-asteroid">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Cancelled</div>
          <!-- <div class="widget-subheading">Last year expenses</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.cancelled" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-malibu-beach">
      <div class="widget-content-wrapper text-dark ">
        <div class="widget-content-left">
          <div class="widget-numbers">Assigned</div>
          <!-- <div class="widget-subheading">Total Clients Profit</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-dark"><span [countUp]="this.assigned" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-happy-green">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-numbers">Delivered</div>
          <!-- <div class="widget-subheading">People Interested</div> -->
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span [countUp]="this.delivered" [options]="myOpts"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>