<!-- <div class="container-fluid"> -->
<!-- <div class="row mt-3 mh-100" > -->
  <section class="col-md col-sm sidebar" id="sticky-sidebar" style=" width: 15%; position: absolute;">
    <!-- <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side"> -->
    <div class="navbar-nav card">
        <a class="nav-item nav-link border-below pl-3" style=" color: black;" routerLink="/dashboard" routerLinkActive="active2"  [routerLinkActiveOptions]="{exact: true}">Dashboard <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link border-below pl-3" style=" color: black;" routerLink="/fleetinfo" routerLinkActive="active2">Fleet Info</a>
        <a routerLink="/orders" routerLinkActive="active2" class="nav-item nav-link border-below pl-3"  style=" color: black;"  >Orders</a>
        <a class="nav-item nav-link border-below pl-3" style=" color: black;">Inventory</a>
        <a class="nav-item nav-link border-below pl-3"  style=" color: black;">Staff Management</a>
        <a class="nav-item nav-link  border-below pl-3" style=" color: black;">Store Settings</a>
        <a class="nav-item nav-link   pl-3" routerLink='' style=" color: black;" (click)="logout()">Logout</a>
      </div>
    <!-- </mat-drawer>
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
    </mat-drawer-container> -->
    </section>

    
      
        <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>
    
      
    
    </mat-drawer-container> -->
    
<!-- <div class="col-m-8"></div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <h1>ABC</h1> -->