<div class="title">
  <div class="row mr-0"   style="background-color: #d4d4d4;">
    <h5 class="pt-3 pb-2 pl-4">Dashboard</h5>
    <div class="col justify-content-end d-flex pt-3 pb-2 pr-4">
      <mat-checkbox [checked]='checked' class="mr-3">Van</mat-checkbox>
      <mat-checkbox [checked]='checked' class="mr-3">Auto</mat-checkbox>
      <mat-checkbox [checked]='checked' class="mr-3">Bike</mat-checkbox>
    </div>
  </div>
  </div>
  
  
  <section class="main">
    <div class="row mr-2 mb-2">
  
    <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  </div>
  
  <div class="row mr-2">
  
    <div class="col-md-4" >
      <div class="card shadow mb-3">
        <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
        <div class="card-body text-primary" style="background-color: #f1f1f1;">
          <!-- <h5 class="card-title">Primary card title</h5> -->
          <p class="card-text"></p>
        </div>
      </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow mb-3">
      <div class="card-header bg-white"><div class="text-left"><i class="fa fa-circle mr-2"></i>Header</div></div>
      <div class="card-body text-primary" style="background-color: #f1f1f1;">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
  </div>
    </section>